## YAML Template.
---
image: ubuntu:18.04

stages:
 - build
 - test
before_script:
 - apt-get update
 - apt-get install -y openjdk-11-jdk ant junit
build_program:
 stage: build
 script:
  - cd LeagueOfTowers
  - ant compile
  - ant jar
test_program:
 stage: test
 script:
  - cd LeagueOfTowers
  - ant compile-test
  - ant test